# This workflow performs local snap testing on listed snaps
name: Snap Testing

on:
  pull_request:
    branches: [ main ]
  schedule:
    # weekly tests run 6AM every Sunday
    - cron: "0 6 * * SUN"
  # allow manual trigger
  workflow_dispatch:

jobs:
  build_and_test:
    name: Build & Test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: device-mqtt

          - name: ekuiper

          - name: app-service-configurable

          - name: device-gpio
          
          - name: device-rest
          
          - name: device-snmp
          
          - name: device-modbus
          
          - name: edgexfoundry
          
          - name: cli
            print_logs: false

          - name: ui
          
          - name: device-rfid-llrp
          
          - name: app-rfid-llrp-inventory

          - name: device-virtual
          
          - name: device-usb-camera
          
          - name: device-onvif-camera
          
    # use local action to test
    steps:
      - name: Checkout the local actions
        uses: actions/checkout@v2

      - name: Checkout the local actions again
        uses: actions/checkout@v2

      - name: Test snap
        if: ${{ github.event_name == 'pull_request' || github.event_name == 'workflow_dispatch' }}
        uses: ./test
        with:
          name: ${{matrix.name}}
          channel: ${{matrix.channel}}
          platform_channel: ${{matrix.platform_channel}}
          print_logs: ${{matrix.print_logs}}

      - name: Test snap weekly
        if: ${{ github.event_name == 'schedule' }}
        uses: ./test
        with:
          name: ${{matrix.name}}
          channel: ${{matrix.channel}}
          platform_channel: ${{matrix.platform_channel}}
          print_logs: ${{matrix.print_logs}}
          full_config_test: true

