name: Test

on:
#   push:
#     branches: [ main ]
  pull_request:
    branches: [ main ]
    paths: [ '*.go' ]
  # allow running manually
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.*

    - name: Unit Tests
      run: go test ./utils